composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
/nbproject/private/
/.build/
/.vscode/
/nbproject/
/.env
/debian/multiflexi-abraflexi-ipex/
/debian/abraflexi-ipex/
/debian/.debhelper/
/debian/abraflexi-ipex.substvars
/debian/files
/debian/multiflexi-abraflexi-ipex.substvars
/debian/debhelper-build-stamp
/debian/multiflexi-abraflexi-ipex.debhelper.log
/debian/abraflexi-ipex.debhelper.log
